<h1>username</h1>

<p>Add new username: UMG_username, CMG_username</p>
<form action="/username/all" method="POST">
    <input type="text" name='username[UMG_username]'>
    <input type="text" name='username[CMG_username]'>
    <button type="Submit">submit</button>
</form>
<table>
    <thead>
    <tr>

        <td>UMG_username</td>
        <td>CMG_username</td>
        <td>Delete</td>
        <td>ID</td>

    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.UMG_username %></td>
        <td><%= i.CMG_username %></td>
        <td><%= i.username_id %></td>
        <td><a href="/username/delete/<%=i.username_id%>">Delete</a></td>
        <td><a href="/username/delete/<%=i.username_id%>">&#9760;</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record<p>
<div><div>
    </div> UMG_username, CMG_username, ID </div>
<form action="/username/edit" method="POST">
    <input type="text" name="username[UMG_username]">
    <input type="text" name="username[CMG_username]">
    <input type="text" name="username[username_id]">

    <button type="submit">Submit</button>
</form>