<h1>dispute</h1>

<p>Add new dispute: dispute name, dispute id, gamer id</p>
<form action="/dispute/all" method="POST">
    <input type="text" name='dispute[dispute_percentage]'>
    <input type="text" name='dispute[dispute_id]'>
    <input type="text" name='dispute[gamer_id]'>
    <button type="Submit">submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>dispute_id</td>
        <td>dispute_percentage</td>
        <td>gamer_id</td>
        <td>delete</td>

    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.dispute_id %></td>
        <td><%= i.dispute_percentage %></td>
        <td><%= i.gamer_id %></td>
        <td><a href="/dispute/delete/<%=i.dispute_id%>">Delete</a></td>
        <td><a href="/dispute/delete/<%=i.dispute_id%>">&#9760;</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record dispute_ID, dispute_percentage, gamer_ID</p>
<form action="/dispute/edit" method="POST">
    <input type="text" name="dispute[dispute_id]">
    <input type="text" name="dispute[dispute_percentage]">
    <input type="text" name="dispute[gamer_id]">
    <button type="submit">Submit</button>
</form>