<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<a href="/about/all">Description - View All</a>
<p></p>
<a href="/gamer/all">Gamers - View All</a>
<p></p>
<a href="/username/all">Usernames - View All</a>
<p></p>
<a href="/dispute/all">Disputes - View All</a>
<p></p>
<a href="/gamertags/all">Gamertags - View All</a>

<%- include("./includes/footer.ejs"); %>

