<%- include("../includes/header.ejs", {title:"gamer - View All"}); %>

<h1>Gamers</h1>
        <a href="/gamer/add">Add New gamer</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/gamer/?gamer_id=<%= result[i].gamer_id %>"><%= result[i].gamer_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/gamer/edit/?gamer_id=<%= result[i].gamer_id %>'">Edit</button>
                    <form action="/gamer/delete/" style="display:inline;">
                        <input type="hidden" name="gamer_id" id="gamer_id" value="<%= result[i].gamer_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>