<%- include("../includes/header.ejs", {title:"Gamers"}); %>
    <h1>Gamers</h1>
    <ul>
        <li>gamer Name: <%= result[0].gamer_name %></li>
        <li>Username(s):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].UMG_username + ', ' + result[i].CMG_username %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/gamer/all"><< back</a>

<%- include("../includes/footer.ejs"); %>