<%- include("../includes/header.ejs", {title:"Add New gamer"}); %>
    <h1>Add New gamer</h1>
    <form action="/gamer/insert" method="get">
        gamer Name: <input id="gamer_name" name="gamer_name" type="text" />
        <br />
        <br />
        username
        <br />
        <select id="username_id" name="username_id" multiple="multiple">
            <% for(var i=0; username.length > i; i++ ) { %>
                <option value="<%= username[i].username_id %>"><%= username[i].UMG_username + ', ' +
                    '' + username[i].CMG_username %></option>
            <% } %>
        </select>


        <script type="text/javascript">
            $(document).ready(function() {
                $('#username_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>