<%- include("../includes/header.ejs", {title: "Update " + gamer.gamer_name}); %>

<h1>Update <%= gamer.gamer_name%></h1>
<form action="/gamer/update" method="get">
    <input type="hidden" id="gamer_id" name="gamer_id" value="<%= gamer.gamer_id %>">
    gamer Name: <input id="gamer_name" name="gamer_name" type="text" value="<%= gamer.gamer_name%>"/>
    <br />
    <br />
    username <br />
    <select id="username_id" name="username_id" multiple="multiple">
        <% for(var i=0; username.length > i; i++ ) {
            var selected = "";

            if(username[i].gamer_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= username[i].username_id %>" <%= selected %> ><%= username[i].street + ', ' + username[i].zip_code %></option>
        <% } %>
    </select>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#username_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>