<h1>Description</h1>
<p></p>
<a href="/gamer/all">Gamers - View All</a>
<p></p>
<a href="/username/all">Usernames - View All</a>
<p></p>
<a href="/dispute/all">Disputes - View All</a>
<p></p>
<a href="/gamertags/all">Gamertags - View All</a>
<p></p>

<br>
This project was no where near what I would want it to be in order to call it "finished." <p></p>
However, some points are better than no points when it comes down to it. The focus of this project <p></p>
comes from my involvment with video games and noticing something that could be beneficial to the community. <p></p>
Within the Call of Duty I play, I play a type of category known as money 8s. <p></p>
It’s a fast easy way to play a match for a certain amount of money with a pick <p></p>
up team versus a pick up team. It is like dodgeball when it comes to team captains <p></p>
picking their team of 4. The issue is the site we use to transfer and keep track <p></p>
of the money doesn’t support this type of play. Therefore, people rely on the honor <p></p>
system and word of mouth to figure out who is truthful and who is not because there <p></p>
is no higher up person to oversee the matches. With no one to oversee the matches <p></p>
‘disputes’ it makes it hard to distribute the money to the people who earned it. <p></p>
I would like to create a system that keeps track of usernames, first names, gamertags <p></p>
for both Playstation and Xbox and a dispute percentage so everyone knows who is truthful <p></p>
and who is not. The primary keys consist of gamer id, username id, dispute id, and gamertag id. <p></p>
For these values will not ever leave a person or ever be changed. I also can keep track <p></p>
of wins and losses to be able to decide what percentage of the matches played the player has disputed. <p></p>
If a player reports the incorrect score of the match that counts as a dispute. This ends up cancelling <p></p>
the match and the team who won loses the money they earned when they won the match. <p></p>
The point is to eliminate the possibility of falsely accusing people of doing a <p></p>
dispute and letting people who do actually dispute play again.
<br>

<%- include("../includes/footer.ejs"); %>