<h1>gamertags</h1>


<p>Add new gamertags: id, gamertags name, PSN_gamertags~</p>
<form action="/gamertags/all" method="POST">
    <input type="text" name='gamertags[gamertag_id]'>
    <input type="text" name='gamertags[XBL_gamertags]'>
    <input type="text" name='gamertags[PSN_gamertags]'>
    <button type="Submit">submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>XBL_gamertags</td>
        <td>PSN_gamertags</td>
        <td>Delete</td>

    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.gamertag_id %></td>
        <td><%= i.XBL_gamertags %></td>
        <td><%= i.PSN_gamertags %></td>
        <td><a href="/gamertags/delete/<%=i.gamertag_id%>">Delete</a></td>
        <td><a href="/gamertags/delete/<%=i.gamertag_id%>">&#9760;</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record gamertag_id, XBL_gamertags, PSN_gamertags</p>
<form action="/gamertags/edit" method="POST">
    <input type="text" name="gamertags[gamertag_id]">
    <input type="text" name="gamertags[XBL_gamertags]">
    <input type="text" name="gamertags[PSN_gamertags]">
    <button type="submit">Submit</button>
</form>
